<h1>Welcome!</h1>
<br>
This is {{ ansible_fqdn }} running on these network addresses:
<br>
"{{ ansible_all_ipv4_addresses }}"
<br>
This system was provisioned {{ foreman.installed_at }}
<br>
<br>
- The Managemment
